# Understanding Hired Rides in NYC

_[Project prompt](https://docs.google.com/document/d/1VERPjEZcC1XSs4-02aM-DbkNr_yaJVbFjLJxaYQswqA/edit#)_

_This scaffolding notebook may be used to help setup your final project. It's **totally optional** whether you make use of this or not._

_If you do use this notebook, everything provided is optional as well - you may remove or add prose and code as you wish._

_Anything in italics (prose) or comments (in code) is meant to provide you with guidance. **Remove the italic lines and provided comments** before submitting the project, if you choose to use this scaffolding. We don't need the guidance when grading._

_**All code below should be consider "pseudo-code" - not functional by itself, and only a suggestion at the approach.**_

## Requirements

_A checklist of requirements to keep you on track. Remove this whole cell before submitting the project._

* Code clarity: make sure the code conforms to:
    * [ ] [PEP 8](https://peps.python.org/pep-0008/) - You might find [this resource](https://realpython.com/python-pep8/) helpful as well as [this](https://github.com/dnanhkhoa/nb_black) or [this](https://jupyterlab-code-formatter.readthedocs.io/en/latest/) tool
    * [ ] [PEP 257](https://peps.python.org/pep-0257/)
    * [ ] Break each task down into logical functions
* The following files are submitted for the project (see the project's GDoc for more details):
    * [ ] `README.md`
    * [ ] `requirements.txt`
    * [ ] `.gitignore`
    * [ ] `schema.sql`
    * [ ] 6 query files (using the `.sql` extension), appropriately named for the purpose of the query
    * [x] Jupyter Notebook containing the project (this file!)
* [x] You can edit this cell and add a `x` inside the `[ ]` like this task to denote a completed task

## Project Setup

In [14]:
# all import statements needed for the project, for example:

import requests
import bs4
import re
import pyarrow.parquet as pq
import pandas as pd
import geopandas as gpd
from skimpy import clean_columns
import sqlalchemy as db
import matplotlib.pyplot as plt
import math
import os
import io

In [15]:
# any general notebook setup, like log formatting

In [16]:
# any constants you might need, for example:

TAXI_URL = "https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page"
# add other constants to refer to any local data, e.g. uber & weather
UBER_DATA = "uber_rides_sample.csv"

NEW_YORK_BOX_COORDS = ((40.560445, -74.242330), (40.908524, -73.717047))
ny_lat0, ny_lon0 = NEW_YORK_BOX_COORDS[0]
ny_lat1, ny_lon1 = NEW_YORK_BOX_COORDS[1]

DATABASE_URL = "sqlite:///project.db"
DATABASE_SCHEMA_FILE = "schema.sql"
QUERY_DIRECTORY = "queries"

## Part 1: Data Preprocessing

_A checklist of requirements to keep you on track. Remove this whole cell before submitting the project. The order of these tasks aren't necessarily the order in which they need to be done. It's okay to do them in an order that makes sense to you._

* [ ] Define a function that calculates the distance between two coordinates in kilometers that **only uses the `math` module** from the standard library.
* [ ] Taxi data:
    * [ ] Use the `re` module, and the packages `requests`, BeautifulSoup (`bs4`), and (optionally) `pandas` to programmatically download the required CSV files & load into memory.
    * You may need to do this one file at a time - download, clean, sample. You can cache the sampling by saving it as a CSV file (and thereby freeing up memory on your computer) before moving onto the next file. 
* [ ] Weather & Uber data:
    * [ ] Download the data manually in the link provided in the project doc.
* [ ] All data:
    * [ ] Load the data using `pandas`
    * [ ] Clean the data, including:
        * Remove unnecessary columns
        * Remove invalid data points (take a moment to consider what's invalid)
        * Normalize column names
        * (Taxi & Uber data) Remove trips that start and/or end outside the designated [coordinate box](http://bboxfinder.com/#40.560445,-74.242330,40.908524,-73.717047)
    * [ ] (Taxi data) Sample the data so that you have roughly the same amount of data points over the given date range for both Taxi data and Uber data.
* [ ] Weather data:
    * [ ] Split into two `pandas` DataFrames: one for required hourly data, and one for the required daily daya.
    * [ ] You may find that the weather data you need later on does not exist at the frequency needed (daily vs hourly). You may calculate/generate samples from one to populate the other. Just document what youâ€™re doing so we can follow along.

### Data lookup from taxi_zones.shp

In [17]:
taxi_zone = gpd.read_file(r"taxi_zones.shp")

DriverError: taxi_zones.shp: No such file or directory

In [ ]:
# Get the center of each polygon
taxi_zone = taxi_zone.to_crs(4326)
taxi_zone["lon"] = taxi_zone.centroid.x
taxi_zone["lat"] = taxi_zone.centroid.y

# make sure that the coodinate is located inside NY bounding box
taxi_zone = taxi_zone[(taxi_zone["lon"] > ny_lon0) & (taxi_zone["lon"] < ny_lon1)]
taxi_zone = taxi_zone[(taxi_zone["lat"] > ny_lon1) & (taxi_zone["lat"] < ny_lat1)]

/tmp/ipykernel_1618/3630155683.py:3: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  taxi_zone["lon"] = taxi_zone.centroid.x
/tmp/ipykernel_1618/3630155683.py:4: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  taxi_zone["lat"] = taxi_zone.centroid.y

In [ ]:
#create dataframe to handle location data
df_taxi_zone = taxi_zone[["LocationID"]].copy()
df_taxi_zone["coordinate"] = pd.Series(zip(taxi_zone.lat, taxi_zone.lon))

df_taxi_zone = df_taxi_zone.dropna()

df_taxi_zone

     LocationID                                coordinate
0             1   (40.69183120640149, -74.17400027276298)
1             2   (40.61674529165988, -73.83129854302214)
2             3   (40.86447368477543, -73.84742223236718)
3             4   (40.72375214158478, -73.97696825691767)
4             5  (40.552659286945655, -74.18848410184931)
..          ...                                       ...
257         258   (40.897932025294715, -73.8522154537012)
258         259   (40.74423471780149, -73.90630644197886)
259         260   (40.70913894067186, -74.01302277174901)
260         261   (40.77593240314995, -73.94651035601467)
261         262     (40.77876585543437, -73.951009874818)

[261 rows x 2 columns]

In [ ]:
#Validate of NY bounding box (df_location)
"""
lat_result = []
lon_result = []

for data in range(len(df_location.coordinate)):
    lat, lon = df_location["coordinate"].iloc[data]
    
    lat_result.append(lat)
    lon_result.append(lon)

min_lat = min(lat_result)
max_lat = max(lat_result)
min_lon = min(lon_result)
max_lon = max(lon_result)
"""
# Note: NEW_YORK_BOX_COORDS = ((40.560445, -74.242330), (40.908524, -73.717047))
# min_lon, max_lon = (-74.23353354937652, -73.72665537528711)
# min_lat, max_lat = (40.525494581763816, 40.89952906437648)

'\nlat_result = []\nlon_result = []\n\nfor data in range(len(df_location.coordinate)):\n    lat, lon = df_location["coordinate"].iloc[data]\n    \n    lat_result.append(lat)\n    lon_result.append(lon)\n\nmin_lat = min(lat_result)\nmax_lat = max(lat_result)\nmin_lon = min(lon_result)\nmax_lon = max(lon_result)\n'

### Calculating distance
_**TODO:** Write some prose that tells the reader what you're about to do here._

In [ ]:
def calculate_distance(from_coord, to_coord):
    
    result = []
    
    for data in range(max(len(from_coord), len(to_coord))):
        lat1, lon1 = from_coord[data]
        lat2, lon2 = to_coord[data]
                      
        #method to convert a degree value into radians
        lon1 = math.radians(lon1)
        lon2 = math.radians(lon2)
        lat1 = math.radians(lat1)
        lat2 = math.radians(lat2)
        
        #Haversine Formula
        diff_lon = lon2 - lon1 
        diff_lat = lat2 - lat1
        
        a = math.sin(diff_lat / 2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(diff_lon / 2)**2
        c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
        
        # Radius of earth in kilometers. Use 3956 for miles
        r = 6371
                      
        #calculate the result
        distance = r*c
        result.append(distance)
    
    distance_series = pd.Series(result)
                      
    return distance_series

In [ ]:
def add_distance_column(dataframe):
    #merge main dataframe with the df_location based on Pick-up Location
    dataframe = dataframe.merge(df_taxi_zone, left_on='PULocationID', right_on='LocationID')
    dataframe = dataframe.rename(columns={'coordinate':'PUCoordinate'})
    
    #merge main dataframe with the df_location based on Drop-off Location
    dataframe = dataframe.merge(df_taxi_zone, left_on='DOLocationID', right_on='LocationID')
    dataframe = dataframe.rename(columns={'coordinate':'DOCoordinate'})

    dataframe = dataframe.drop(columns=["LocationID_x","LocationID_y"])
    
    dataframe["distance"] = calculate_distance(dataframe["PUCoordinate"], dataframe["DOCoordinate"])
    
    dataframe = dataframe.dropna()
    
    return dataframe["distance"]

### Processing Taxi Data

_**TODO:** Write some prose that tells the reader what you're about to do here._

In [ ]:
def find_taxi_csv_urls():
    #Get taxi HTML
    response = requests.get(TAXI_URL)
    html = response.content
    
    #Find taxi parquet links
    soup = bs4.BeautifulSoup(html, 'html.parser')
    result = [a['href'] for a in soup.find_all('a', title="Yellow Taxi Trip Records")]
    return result

In [ ]:
def get_and_clean_month_taxi_data(url):
    dataframe = pd.DataFrame(None)
    match = re.search(r"\w+2014-01.parquet", url) #keep in mind that currently we only take 2022-01 data to make the preprocessing more efficient, we can update the REGEX once we wrapped up all the sections
    if match is None:
        pass
    else:
        response = requests.get(url)
        
        with open(match.group(), "wb") as f:
            for chunk in response.iter_content(chunk_size=1024): 
                if chunk:
                    f.write(chunk)
                    
        with open(match.group(), "r") as f:
            dataframe = pd.read_parquet(match.group(), engine='pyarrow')
            #dataframe = dataframe.sample(frac=0.01, random_state=1)
            dataframe = dataframe[['tpep_pickup_datetime','PULocationID', 'DOLocationID','total_amount']]
            dataframe["distance"] = add_distance_column(dataframe)
            dataframe["tpep_pickup_date"] = pd.to_datetime(dataframe["tpep_pickup_datetime"]).dt.date
            dataframe["tpep_pickup_hour"] = pd.to_datetime(dataframe["tpep_pickup_datetime"]).dt.hour
            dataframe["tpep_pickup_day"] = pd.to_datetime(dataframe["tpep_pickup_datetime"]).dt.day_name()
            dataframe = dataframe[['tpep_pickup_date','tpep_pickup_day','tpep_pickup_hour','distance']]
            dataframe = dataframe.dropna(subset=["distance"])
            
    return dataframe

In [ ]:
def get_and_clean_taxi_data():
    all_taxi_dataframes = []
    
    all_csv_urls = find_taxi_csv_urls()
    for csv_url in all_csv_urls:
        # maybe: first try to see if you've downloaded this exact
        # file already and saved it before trying again
        dataframe = get_and_clean_month_taxi_data(csv_url)
        
        all_taxi_dataframes.append(dataframe)
        
    # create one gigantic dataframe with data from every month needed
    taxi_data = pd.concat(all_taxi_dataframes)
    
    return taxi_data

### Processing Uber Data

_**TODO:** Write some prose that tells the reader what you're about to do here._

In [ ]:
def load_and_clean_uber_data(csv_file):
    df_uber = pd.read_csv(csv_file)
    
    #renaming old df without creating a copy 
    df_uber.rename(columns={'key': 'date_time', 'Unnamed: 0': 'location_id'}, inplace=True)
    
    #constructing new columns as a function input
    df_uber["pickup_coordinate"] = list(zip(df_uber.pickup_latitude, df_uber.pickup_longitude))
    df_uber["dropoff_coordinate"] = list(zip(df_uber.dropoff_latitude, df_uber.dropoff_longitude))
    
    #calculate distance
    df_uber["distance"] = calculate_distance(df_uber["pickup_coordinate"], df_uber["dropoff_coordinate"])
    
    #make sure that the coordinate is located inside the NY bounding box
    df_uber = df_uber[(df_uber["pickup_longitude"] > ny_lon0) & (df_uber["pickup_longitude"] < ny_lon1)]
    df_uber = df_uber[(df_uber["dropoff_longitude"] > ny_lon0) & (df_uber["dropoff_longitude"] < ny_lon1)]
    df_uber = df_uber[(df_uber["pickup_latitude"] > ny_lat0) & (df_uber["pickup_latitude"] < ny_lat1)]
    df_uber = df_uber[(df_uber["dropoff_latitude"] > ny_lat0) & (df_uber["dropoff_latitude"] < ny_lat1)]
    
    #handle the datetime format
    df_uber["order_date"] = pd.to_datetime(df_uber["date_time"]).dt.date
    df_uber["order_time"] = pd.to_datetime(df_uber["date_time"]).dt.hour
    df_uber["order_day"] = pd.to_datetime(df_uber["date_time"]).dt.day_name()
    
    df_uber["pickup_date"] = pd.to_datetime(df_uber["pickup_datetime"]).dt.date
    df_uber["pickup_time"] = pd.to_datetime(df_uber["pickup_datetime"]).dt.hour
    df_uber["pickup_day"] = pd.to_datetime(df_uber["pickup_datetime"]).dt.day_name()
    
    df_uber = df_uber.drop(columns=["date_time", "pickup_datetime"])
    
    return df_uber

In [ ]:
def get_uber_data():
    uber_dataframe = load_and_clean_uber_data(UBER_DATA)
    uber_dataframe = uber_dataframe.drop(columns=["pickup_coordinate","dropoff_coordinate",
                                                  "pickup_longitude", "pickup_latitude", 
                                                  "dropoff_longitude", "dropoff_latitude"])
    
    return uber_dataframe

### Processing Weather Data

_**TODO:** Write some prose that tells the reader what you're about to do here._

In [ ]:
def clean_month_weather_data_hourly(csv_file):
    df_weather = pd.read_csv(csv_file, low_memory = False)
    weather_columns = df_weather.columns.tolist()
    result = ['STATION', 'DATE', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'NAME', 'REPORT_TYPE', 'SOURCE']
    
    for column in weather_columns:
        match = re.search(r"Hourly", column)
        if match is None:
            pass
        else:
            result.append(column)
    
    df_weather_hourly = df_weather[result]
    
    return df_weather_hourly

In [ ]:
def clean_month_weather_data_daily(csv_file):
    df_weather = pd.read_csv(csv_file, low_memory = False)
    weather_columns = df_weather.columns.tolist()
    result = ['STATION', 'DATE', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'NAME', 'REPORT_TYPE', 'SOURCE']
    
    for column in weather_columns:
        match = re.search(r"Daily", column)
        if match is None:
            pass
        else:
            result.append(column)
    
    df_weather_daily = df_weather[result]
    
    return df_weather_daily

In [ ]:
def load_and_clean_weather_data():
    hourly_dataframes = []
    daily_dataframes = []
    
    # add some way to find all weather CSV files
    weather_csv_files = []
    list_dir = os.listdir() #list all file within a directory and store in an array

    for file in list_dir:
        match = re.search(r"(2009|201[012345])_weather.csv", file)
        if match is None:
            pass
        else:
            weather_csv_files.append(match.group())
    
    for csv_file in weather_csv_files:
        hourly_dataframe = clean_month_weather_data_hourly(csv_file)
        daily_dataframe = clean_month_weather_data_daily(csv_file)
        hourly_dataframes.append(hourly_dataframe)
        daily_dataframes.append(daily_dataframe)
        
    # create two dataframes with hourly & daily data from every month
    hourly_data = pd.concat(hourly_dataframes)
    daily_data = pd.concat(daily_dataframes)
    
    #handle datetime format - hourly data
    hourly_data["ORDER_DATE"] = pd.to_datetime(hourly_data["DATE"]).dt.date
    hourly_data["ORDER_TIME"] = pd.to_datetime(hourly_data["DATE"]).dt.hour
    hourly_data["ORDER_DAY"] = pd.to_datetime(hourly_data["DATE"]).dt.day_name()
    hourly_data = hourly_data.drop(columns=["DATE"])
    
    #handle datetime format - daily data
    daily_data["ORDER_DATE"] = pd.to_datetime(daily_data["DATE"]).dt.date
    daily_data["ORDER_TIME"] = pd.to_datetime(daily_data["DATE"]).dt.hour
    daily_data["ORDER_DAY"] = pd.to_datetime(daily_data["DATE"]).dt.day_name()
    daily_data = daily_data.drop(columns=["DATE"])
    
    return hourly_data, daily_data

### Process All Data

_This is where you can actually execute all the required functions._

_**TODO:** Write some prose that tells the reader what you're about to do here._

In [ ]:
taxi_data = get_and_clean_taxi_data()
uber_data = get_uber_data()
hourly_weather_data, daily_weather_data = load_and_clean_weather_data()

In [ ]:
taxi_data.distance.value_counts()

0.000000     715024
2.642271     117207
15.907308     61580
14.746516     59296
3.894181      56181
              ...
8.427991          1
10.822885         1
13.728395         1
12.737658         1
2.687064          1
Name: distance, Length: 18181, dtype: int64


## Part 2: Storing Cleaned Data

_Write some prose that tells the reader what you're about to do here._

In [ ]:
engine = db.create_engine(DATABASE_URL)
engine

Engine(sqlite:///project.db)

In [ ]:
# if using SQL (as opposed to SQLAlchemy), define the commands 
# to create your 4 tables/dataframes
HOURLY_WEATHER_SCHEMA = """
CREATE TABLE IF NOT EXISTS hourly_weather
(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    STATION INTEGER,
    LATITUDE REAL,
    LONGITUDE REAL,
    ELEVATION REAL,
    NAME TEXT,
    REPORT_TYPE TEXT,
    SOURCE TEXT,
    HourlyAltimeterSetting REAL,
    HourlyDewPointTemperature REAL,
    HourlyDryBulbTemperature REAL,
    HourlyPrecipitation REAL,
    HourlyPresentWeatherType REAL,
    HourlyPressureChange REAL,
    HourlyPressureTendency REAL,
    HourlyRelativeHumidity REAL,
    HourlySkyConditions REAL,
    HourlySeaLevelPressure REAL,
    HourlyStationPressure REAL,
    HourlyVisibility REAL,
    HourlyWetBulbTemperature REAL,
    HourlyWindDirection REAL,
    HourlyWindGustSpeed REAL,
    HourlyWindSpeed REAL,
    ORDER_DATE DATE,
    ORDER_TIME INTEGER,
    ORDER_DAY STRING
    )
"""

DAILY_WEATHER_SCHEMA = """
CREATE TABLE IF NOT EXISTS daily_weather
(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    STATION INTEGER,
    LATITUDE REAL,
    LONGITUDE REAL,
    ELEVATION REAL,
    NAME TEXT,
    REPORT_TYPE TEXT,
    SOURCE TEXT,
    DailyAverageDewPointTemperature REAL,
    DailyAverageDryBulbTemperature REAL,
    DailyAverageRelativeHumidity REAL,
    DailyAverageSeaLevelPressure REAL, 
    DailyAverageStationPressure REAL,  
    DailyAverageWetBulbTemperature REAL,
    DailyAverageWindSpeed REAL,        
    DailyCoolingDegreeDays REAL,       
    DailyDepartureFromNormalAverageTemperature REAL,
    DailyHeatingDegreeDays REAL,        
    DailyMaximumDryBulbTemperature REAL,
    DailyMinimumDryBulbTemperature REAL,
    DailyPeakWindDirection REAL,        
    DailyPeakWindSpeed REAL,            
    DailyPrecipitation REAL,            
    DailySnowDepth REAL,                
    DailySnowfall REAL,                 
    DailySustainedWindDirection REAL,   
    DailySustainedWindSpeed REAL,       
    DailyWeather TEXT,
    ORDER_DATE DATE,
    ORDER_TIME INTEGER,
    ORDER_DAY STRING
    )
"""

TAXI_TRIPS_SCHEMA = """
CREATE TABLE IF NOT EXISTS taxi_trips
(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    tpep_pickup_date DATE,
    tpep_pickup_day STRING,
    tpep_pickup_hour INTEGER,
    distance REAL
)
"""

UBER_TRIPS_SCHEMA = """
CREATE TABLE IF NOT EXISTS uber_trips
(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    location_id BIGINT,
    fare_amount REAL,
    pickup_datetime TEXT,
    passenger_count INTEGER,
    distance REAL,
    order_date DATE,
    order_time INTEGER,
    order_day STRING,
    pickup_date DATE,
    pickup_time INTEGER,
    pickup_day STRING
)
"""

In [ ]:
# create that required schema.sql file
with open(DATABASE_SCHEMA_FILE, "w") as f:
    f.write(HOURLY_WEATHER_SCHEMA)
    f.write(DAILY_WEATHER_SCHEMA)
    f.write(UBER_TRIPS_SCHEMA)
    f.write(UBER_TRIPS_SCHEMA)

In [ ]:
# create the tables with the schema files
with engine.connect() as connection:
    connection.execute(UBER_TRIPS_SCHEMA)
    connection.close()

### Add Data to Database

_**TODO:** Write some prose that tells the reader what you're about to do here._

In [ ]:
def write_dataframes_to_table(table_to_df_dict):
    for key, value in table_to_df_dict.items():
        value.to_sql(key, engine, index=True, index_label="id", if_exists='append')

In [ ]:
map_table_name_to_dataframe = {
    "taxi_trips": taxi_data,
    "uber_trips": uber_data,
    "hourly_weather": hourly_weather_data,
    "daily_weather": daily_weather_data
}

In [ ]:
write_dataframes_to_table(map_table_name_to_dataframe)

## Part 3: Understanding the Data

_A checklist of requirements to keep you on track. Remove this whole cell before submitting the project. The order of these tasks aren't necessarily the order in which they need to be done. It's okay to do them in an order that makes sense to you._

* [ ] For 01-2009 through 06-2015, what hour of the day was the most popular to take a yellow taxi? The result should have 24 bins.
* [ ] For the same time frame, what day of the week was the most popular to take an uber? The result should have 7 bins.
* [ ] What is the 95% percentile of distance traveled for all hired trips during July 2013?
* [ ] What were the top 10 days with the highest number of hired rides for 2009, and what was the average distance for each day?
* [ ] Which 10 days in 2014 were the windiest, and how many hired trips were made on those days?
* [ ] During Hurricane Sandy in NYC (Oct 29-30, 2012) and the week leading up to it, how many trips were taken each hour, and for each hour, how much precipitation did NYC receive and what was the sustained wind speed?

In [ ]:
def write_query_to_file(query, outfile):
    raise NotImplemented()

### Query N

_**TODO:** Write some prose that tells the reader what you're about to do here._

_Repeat for each query_

In [ ]:
#DONT FORGET TO ADJUST THE pickup date to BETWEEN 2009-01-01 AND 2015-06-30
QUERY_1 = """
SELECT tpep_pickup_hour as order_hour,
    COUNT(id) as num_order    
FROM taxi_trips
WHERE tpep_pickup_date BETWEEN "2014-01-01" AND "2014-01-31" 
GROUP BY order_hour
ORDER BY num_order DESC
"""

In [ ]:
engine.execute(QUERY_1).fetchall()

[(19, 806028),
 (18, 804625),
 (20, 736978),
 (21, 704657),
 (22, 685062),
 (14, 681545),
 (17, 675791),
 (15, 660131),
 (12, 658526),
 (13, 653324),
 (11, 618124),
 (9, 617279),
 (10, 603632),
 (8, 599800),
 (23, 592199),
 (16, 567030),
 (0, 495845),
 (7, 482256),
 (1, 370586),
 (2, 286356),
 (6, 275027),
 (3, 212026),
 (4, 155767),
 (5, 133158)]

In [ ]:
#DONT FORGET TO ADJUST THE pickup date to BETWEEN 2009-01-01 AND 2015-06-30
QUERY_2 = """
SELECT order_day,
    COUNT(id) as num_order    
FROM uber_trips
WHERE order_date BETWEEN "2009-01-01" AND "2015-06-30" 
GROUP BY order_day
ORDER BY num_order DESC
"""

In [ ]:
engine.execute(QUERY_2).fetchall()

[('Friday', 30166),
 ('Saturday', 29599),
 ('Thursday', 29338),
 ('Wednesday', 28328),
 ('Tuesday', 27526),
 ('Sunday', 25834),
 ('Monday', 24681)]

In [ ]:
#DONT FORGET TO ADJUST THE pickup date to in July 2013
#Still confuse wheteher to use NTILE(95) or NTILE(5)
QUERY_3 = """
WITH p AS (SELECT distance, NTILE(95) OVER (ORDER BY distance) AS percentile
           FROM taxi_trips
           WHERE tpep_pickup_date BETWEEN "2014-01-01" AND "2014-01-31")
SELECT MAX(distance) as distance
FROM p
GROUP BY percentile;
"""

In [ ]:
engine.execute(QUERY_3).fetchall()

[(0.0,),
 (0.0,),
 (0.0,),
 (0.0,),
 (0.0,),
 (0.6285024183261585,),
 (0.9655440531449592,),
 (1.0562774656645701,),
 (1.1253421532439245,),
 (1.2527751392551087,),
 (1.4283302836383676,),
 (1.4644882545106062,),
 (1.5362636333263973,),
 (1.5651276523999635,),
 (1.6705008987214616,),
 (1.8744031469935596,),
 (2.010893187566884,),
 (2.1218976321629133,),
 (2.158174956836439,),
 (2.288227936332771,),
 (2.4050510585176283,),
 (2.589657516582127,),
 (2.6422711045844665,),
 (2.7470224403268917,),
 (2.875779451258252,),
 (2.960576344339237,),
 (3.0575673335662588,),
 (3.234100298255203,),
 (3.4740555997415443,),
 (3.6917429782369253,),
 (3.818760570708154,),
 (3.9238445795231285,),
 (4.115530149053466,),
 (4.311835711937714,),
 (4.459282023857271,),
 (4.760397081292544,),
 (5.044797566460685,),
 (5.261389595635906,),
 (5.44100227429195,),
 (5.6952863407275185,),
 (5.961143366070103,),
 (6.185845986918711,),
 (6.59607386042849,),
 (6.819887571061227,),
 (7.33778935756258,),
 (7.750096354481571,),
 (8.121455135029509,),
 (8.483702651347395,),
 (8.878813699922638,),
 (9.210115448388926,),
 (9.5660153040042,),
 (10.081496212481127,),
 (10.443287605017238,),
 (10.936637756043956,),
 (11.297031088181246,),
 (11.613313579730374,),
 (11.809263367613402,),
 (12.156570461803438,),
 (12.60007967636859,),
 (12.942349872645925,),
 (13.230237140329944,),
 (13.577674201464465,),
 (13.773315342128218,),
 (14.011916420399581,),
 (14.157062286669941,),
 (14.339145875954587,),
 (14.665924200248037,),
 (14.83809118056881,),
 (14.997064689901535,),
 (15.152914684892279,),
 (15.484860509702333,),
 (15.61832863598479,),
 (15.77846242720665,),
 (15.921917837517794,),
 (16.186708595327282,),
 (16.43665390753145,),
 (16.8753123244313,),
 (17.16026904253573,),
 (17.55144539146015,),
 (17.862044260339037,),
 (18.369793033390017,),
 (18.74693031340176,),
 (19.314778505519868,),
 (19.665721740610362,),
 (20.14653354152512,),
 (20.77012435185092,),
 (21.492455060799575,),
 (22.024784190522784,),
 (22.681842340004028,),
 (23.29638761048896,),
 (25.071698245500617,),
 (26.899342266978724,),
 (29.10288144753976,),
 (31.32235805920427,),
 (49.12409053253548,)]

In [ ]:
#DONT FORGET TO ADJUST THE pickup date to BETWEEN 2009-01-01 AND 2009-12-31
QUERY_4 = """
SELECT tpep_pickup_date as order_date,
    COUNT(id) as num_order
FROM taxi_trips
WHERE order_date BETWEEN "2014-01-01" AND "2014-01-31"
GROUP BY order_date
ORDER BY num_order DESC
LIMIT 10"""

In [ ]:
engine.execute(QUERY_4).fetchall()

[('2014-01-25', 530551),
 ('2014-01-11', 511172),
 ('2014-01-24', 509509),
 ('2014-01-10', 507732),
 ('2014-01-18', 507033),
 ('2014-01-17', 490852),
 ('2014-01-16', 482037),
 ('2014-01-09', 479714),
 ('2014-01-29', 477984),
 ('2014-01-08', 473611)]

In [ ]:
#DONT FORGET TO ADJUST THE pickup date to BETWEEN 2014-01-01 to 2014-12-31
QUERY_5 = """
WITH taxi_trip AS (
    SELECT tpep_pickup_date as order_date,
        COUNT(id) as num_order    
    FROM taxi_trips
    WHERE tpep_pickup_date BETWEEN "2014-01-01" AND "2014-01-31"
    GROUP BY order_date
    ORDER BY num_order DESC
    ),
    daily_observation_data AS (
    SELECT ORDER_DATE as order_date,
        AVG(DailyAverageWindSpeed) as avg_wind_speed
    FROM daily_weather
    WHERE order_date BETWEEN "2014-01-01" AND "2014-01-31"
    GROUP BY order_date
    ORDER BY avg_wind_speed DESC
    LIMIT 10
    )
SELECT daily_observation_data.order_date,
    daily_observation_data.avg_wind_speed,
    taxi_trip.num_order
FROM daily_observation_data
LEFT JOIN taxi_trip ON daily_observation_data.order_date = taxi_trip.order_date
"""

In [ ]:
engine.execute(QUERY_5).fetchall()

[('2014-01-07', 13.1, 460052),
 ('2014-01-02', 12.2, 359958),
 ('2014-01-21', 10.4, 255518),
 ('2014-01-03', 10.4, 275470),
 ('2014-01-22', 8.8, 377773),
 ('2014-01-06', 8.5, 395445),
 ('2014-01-12', 8.2, 450487),
 ('2014-01-24', 8.1, 509509),
 ('2014-01-27', 7.8, 418863),
 ('2014-01-25', 7.6, 530551)]

In [ ]:
write_query_to_file(QUERY_N, "some_descriptive_name.sql")

## Part 4: Visualizing the Data

_A checklist of requirements to keep you on track. Remove this whole cell before submitting the project. The order of these tasks aren't necessarily the order in which they need to be done. It's okay to do them in an order that makes sense to you._

* [ ] Create an appropriate visualization for the first query/question in part 3
* [ ] Create a visualization that shows the average distance traveled per month (regardless of year - so group by each month). Include the 90% confidence interval around the mean in the visualization
* [ ] Define three lat/long coordinate boxes around the three major New York airports: LGA, JFK, and EWR (you can use bboxfinder to help). Create a visualization that compares what day of the week was most popular for drop offs for each airport.
* [ ] Create a heatmap of all hired trips over a map of the area. Consider using KeplerGL or another library that helps generate geospatial visualizations.
* [ ] Create a scatter plot that compares tip amount versus distance.
* [ ] Create another scatter plot that compares tip amount versus precipitation amount.

_Be sure these cells are executed so that the visualizations are rendered when the notebook is submitted._

### Visualization N

_**TODO:** Write some prose that tells the reader what you're about to do here._

_Repeat for each visualization._

_The example below makes use of the `matplotlib` library. There are other libraries, including `pandas` built-in plotting library, kepler for geospatial data representation, `seaborn`, and others._

In [ ]:
# use a more descriptive name for your function
def plot_visual_n(dataframe):
    figure, axes = plt.subplots(figsize=(20, 10))
    
    values = "..."  # use the dataframe to pull out values needed to plot
    
    # you may want to use matplotlib to plot your visualizations;
    # there are also many other plot types (other 
    # than axes.plot) you can use
    axes.plot(values, "...")
    # there are other methods to use to label your axes, to style 
    # and set up axes labels, etc
    axes.set_title("Some Descriptive Title")
    
    plt.show()

In [ ]:
def get_data_for_visual_n():
    # Query SQL database for the data needed.
    # You can put the data queried into a pandas dataframe, if you wish
    raise NotImplemented()

In [ ]:
some_dataframe = get_data_for_visual_n()
plot_visual_n(some_dataframe)

In [ ]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-1.4.44-cp310-cp310-win_amd64.whl (1.6 MB)
     ---------------------------------------- 1.6/1.6 MB 8.3 MB/s eta 0:00:00
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.1-cp310-cp310-win_amd64.whl (190 kB)
     -------------------------------------- 190.9/190.9 kB 5.6 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-2.0.1 sqlalchemy-1.4.44

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: C:\Users\devan\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip